<app-card
name="Sberbank"
number="0101 1100 1001 0111"
amount="{{ 3549000.33 | locateCurrency: 'ru-RU' }}₽"
expirationDate="02/33"
paymentSystem="mastercard"
></app-card>
<p appAttrDirective [value]="{ id: 'test' }">Синтаксис атрибутной директивы</p>
<p>{{ 24637423.123 | locateCurrency: 'ru-RU' }}</p>
<p>{{ 24637423.123 | locateCurrency: 'en-US' }}</p>

<p>Start counting time</p>
<output id="timer-output"></output>

<form class="form" [formGroup]="productForm">
    <div class="input_field">
        <label>ID</label>
        <input id="id" type="text" formControlName="id" />
        <button type="button" (click)="onClickGenerateID()">Generate</button>
    </div>

    <div class="input_field">
        <label>Name</label>
        <input id="name" type="text" formControlName="name" />
    </div>

    <div class="input_field">
        <label>Price</label>
        <input id="price" type="number" formControlName="price" />
    </div>

    <div class="input_field">
        <label>Categories</label>
        <select formControlName="categories">
            <option value="clothes">Одежда</option>
            <option value="shoes">Обувь</option>
            <option value="medicines">Лекарства</option>
            <option value="food">Еда</option>
            <option value="electronics">Электроника</option>
        </select>
    </div>

    <div class="input_field">
        <button type="button" (click)="onSubmit()">Submit</button>
    </div>
</form>